---
import ThemeSwitch from "./ThemeSwitch.astro";
---

<header>
    <div class="theme-switch">
        <ThemeSwitch />
    </div>
</header>

<style>
    .theme-switch {
        margin: 6px 12px 12px;
        text-align: right;
    }
</style>
