---
// Supports weights 100-900
import "@fontsource-variable/inter";
import "@fontsource/fira-mono";
import "../styles/global.css";
import CVHeader from "../components/CVHeader.astro";
import Footer from "../components/Footer.astro";

interface Links {
  github: string;
}

interface Props {
  frontmatter: {
    title: string;
    jobTitle: string;
    about: string;
    links: Links
  };
}

const { title, jobTitle, about, links } = Astro.props.frontmatter;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <CVHeader />
      <section>
        <div class="wrapper">
          <article class="cv">
            <slot />
          </article>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
<style is:inline>
  .wrapper {
    position: relative;
    margin: auto;
    padding: 100px 3rem;
  }
  .cv {
    width: 100%;
    max-width: var(--cv-max-width);
    position: relative;
    overflow-y: clip;
    overflow-x: visible;
    margin: auto;
  }
  * {
    color: var(--primary-text);
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 120px;
    text-align: center;
    color: var(--title-text);
  }

  h1 + p {
    margin-bottom: 80px;
    text-align: center;
  }

  h1 + p strong {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to left top,
      var(--title-text),
      var(--primary-text),
      var(--primary-accent)
    );
    font-weight: 300;
    width: fit-content;
    position: relative;
    font-size: 1.25em;
    vertical-align: text-top;
    text-transform: uppercase;
  }

  p,
  ul {
    font-size: 1.125em;
    line-height: 1.5;
  }

  b,
  strong {
    font-weight: 600;
  }

  h2 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      to left top,
      var(--title-text),
      var(--primary-text),
      var(--primary-accent)
    );
    width: fit-content;
    position: relative;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2.5em auto 2.5em;
  }

  hr + h2 {
    margin: -2em auto 2.5em;
  }

  h3 {
    color: var(--title-text);
    font-size: 1.25em;
    line-height: 1.5;
    position: relative;
    display: block;
    margin: 1.5em 0px 0px;
    padding: 0 4px 4px 48px;
    box-sizing: border-box;
  }

  h3:has(strong)::before,
  h3:has(code)::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 12px;
    top: 0.5em;
    background-image: linear-gradient(
      to left top,
      var(--primary-text),
      var(--secondary-accent),
      var(--primary-accent)
    );
  }

  h3::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    border-radius: 6px;
    left: 7px;
    top: 0.8em;
    background-image: linear-gradient(
      to left top,
      var(--primary-text),
      var(--secondary-accent),
      var(--primary-accent)
    );
  }

  h3:has(strong)::after,
  h3:has(code)::after {
    height: 4.7em;
    content: "";
    position: absolute;
    left: 18px;
    top: 1.25rem;
    /* TODO: primary-text here maybe */
    border-right: 1px solid #6474a230;
  }

  h3 ~ p,
  h3 ~ ul {
    position: relative;
    margin: 0 0 4px 0;
    vertical-align: top;
    padding: 8px 4px 4px 48px;
    box-sizing: border-box;
  }

  h3 code,
  h3 b,
  h3 strong {
    float: right;
    position: relative;
    font-family: "Fira Mono", monospace;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    top: 4px;
    font-weight: 500;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      to left top,
      var(--primary-accent),
      var(--tertiary-accent),
      var(--primary-accent)
    );
  }

  ul {
    list-style-position: inside;
  }
  ul li {
    padding-left: 1em;
    padding-bottom: 6px;
  }
  ul li::marker {
    color: #acb1bd;
  }

  hr {
    position: relative;
    margin-top: 120px;
    width: 100vw;
    left: calc((var(--cv-max-width) - 100vw) / 2);
    border: 0;
    /* TODO: primary-text here maybe */
    border-top: 1px solid #6474a229;
    --gradient-y-offset: -205px;
    --gradient-x-offset: -25vw;
    --height: 215px;
    overflow: hidden;
    will-change: filter;
    height: 150px;
  }
  @media (max-width: 1000px) {
    hr {
      left: -3rem;
    }
  }
  hr::before,
  hr::after {
    content: "";
    position: absolute;
    width: 80vw;
    height: var(--height);
    top: var(--gradient-y-offset);
    border-radius: 100%;
    mix-blend-mode: normal;
    filter: blur(50px);
    opacity: 0.15;
  }
  hr::before {
    left: var(--gradient-x-offset);
    background: linear-gradient(180deg, var(--primary-accent), #de7fae);
  }
  hr::after {
    right: var(--gradient-x-offset);
    background: linear-gradient(180deg, #526ce0, #9280c8);
  }

  table {
    font-size: 1.125rem;
    width: 100%;
    table-layout: fixed;
    border-radius: 1.5rem;
    padding: 2rem;
    /* TODO: primary-text here maybe */
    border: 1px solid #6474a230;
    box-shadow:
      0px 6px 3px rgba(9, 11, 17, 0.01),
      0px 4px 2px rgba(9, 11, 17, 0.01),
      0px 2px 2px rgba(9, 11, 17, 0.02),
      0px 0px 1px rgba(9, 11, 17, 0.03);
  }
  table th,
  table td {
    vertical-align: top;
    line-height: 150%;
  }
  table th {
    padding: 0.5em 1.5em;
    color: var(--title-text);
  }
  table td {
    padding: 0.2em 1.5em;
  }
</style>
